@import '../../style/typography/typography-utils';
@import '../../style/theme';

@mixin br-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .br-button {
    background: transparent;
    @include _br-button-focus-color($theme);
    @include _br-button-theme-color($theme, 'color');
    @include _br-button-ripple-color($theme, default, 0.1);
  }

  .br-raised-button, .br-fab, .br-mini-fab {
    // Default properties when not using any [color] value.
    color: br-color($foreground, text);
    background-color: br-color($background, raised-button);

    @include _br-button-theme-color($theme, 'color', default-contrast);
    @include _br-button-theme-color($theme, 'background-color');

    // Add ripple effect with contrast color to buttons that don't have a focus overlay.
    @include _br-button-ripple-color($theme, default-contrast);
  }

  .br-button-focus-overlay {
    background-color: rgba(black, 0.12);
    @include _br-button-focus-color($theme);
  }
}


@mixin _br-button-theme-color($theme, $property, $color: 'default') {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  &.br-primary {
    #{$property}: br-color($primary, $color);
  }
  &.br-accent {
    #{$property}: br-color($accent, $color);
  }
  &.br-warn {
    #{$property}: br-color($warn, $color);
  }

  &.br-primary, &.br-accent, &.br-warn, &[disabled] {
    &[disabled] {
      $palette: if($property == 'color', $foreground, $background);
      #{$property}: br-color($palette, disabled-button);
    }
  }
}

@mixin _br-button-focus-color($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  &.br-primary .br-button-focus-overlay {
    background-color: br-color($primary, 0.18);
  }

  &.br-accent .br-button-focus-overlay {
    background-color: br-color($accent, 0.18);
  }

  &.br-warn .br-button-focus-overlay {
    background-color: br-color($warn, 0.18);
  }

  &[disabled] .br-button-focus-overlay {
    background-color: transparent;
  }
}

@mixin br-button-typography($config) {
  .br-button, .br-raised-button, .br-icon-button, .br-fab, .br-mini-fab {
    font: {
      family: br-font-family($config, button);
      size: br-font-size($config, button);
      weight: br-font-weight($config, button);
    }
  }
}

@mixin _br-button-ripple-color($theme, $hue, $opacity: 0.2) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  &.br-primary .br-ripple-element {
    background-color: br-color($primary, $hue, $opacity);
  }

  &.br-accent .br-ripple-element {
    background-color: br-color($accent, $hue, $opacity);
  }

  &.br-warn .br-ripple-element {
    background-color: br-color($warn, $hue, $opacity);
  }
}
