@import '../../style/typography/typography-utils';
@import '../../style/theme';

@mixin br-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .br-button, .br-button-raised {
    &.br-button-focus {
      @include _br-button-focus-color($theme);
    }
  }

  .br-button {
    @include _br-button-theme-color($theme, 'color');
    background: transparent;

    &:hover {
      background-color: rgba(black, 0.12);
      @include _br-button-focus-color($theme);
    }
  }

  .br-button-raised {
    // Default properties when not using any [color] value.
    color: br-color($foreground, text);
    background-color: br-color($background, raised-button);

    @include _br-button-theme-color($theme, 'color', default-contrast);
    @include _br-button-theme-color($theme, 'background-color');
  }
}


@mixin _br-button-theme-color($theme, $property, $color: 'default') {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  &.br-primary {
    #{$property}: br-color($primary, $color);
  }
  &.br-accent {
    #{$property}: br-color($accent, $color);
  }
  &.br-warn {
    #{$property}: br-color($warn, $color);
  }

  &.br-primary, &.br-accent, &.br-warn, &[disabled] {
    &[disabled] {
      $palette: if($property == 'color', $foreground, $background);
      #{$property}: br-color($palette, disabled-button);
    }
  }
}

@mixin _br-button-focus-color($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  &.br-primary {
    // background-color: br-color($primary, 0.12);
  }

  &.br-accent {
    // background-color: br-color($accent, 0.12);
  }

  &.br-warn {
    // background-color: br-color($warn, 0.12);
  }

  &[disabled] .mat-button-focus-overlay {
    background-color: transparent;
  }
}

@mixin br-button-typography($config) {
  .br-button, .br-raised-button, .br-icon-button, .br-fab, .br-mini-fab {
    font: {
      family: br-font-family($config, button);
      size: br-font-size($config, button);
      weight: br-font-weight($config, button);
    }
  }
}
