@import '../../style/typography/typography';
@import '../../style/elevation';

$br-button-font-size: calc(1.4em * $br-font-size) !default;
$br-button-padding: 0 16px !default;
$br-button-min-width: 88px !default;
$br-button-margin: 0 !default;
$br-button-line-height: 36px !default;
$br-button-border-radius: 2px !default;
$br-button-focus-transition: opacity 200ms $swift-ease-in-out-timing-function !default;

// Fab standards
$br-fab-border-radius: 50% !default;
$br-fab-size: 56px !default;
$br-fab-padding: 16px !default;
$br-mini-fab-size: 40px !default;
$br-mini-fab-padding: 8px !default;
$br-icon-button-line-height: 24px !default;

// Applies styles to fab and mini-fab button types only
@mixin br-fab($size, $padding) {
  @include br-elevation(6);

  // Reset the min-width from the button base.
  min-width: 0;

  border-radius: $br-fab-border-radius;
  width: $size;
  height: $size;
  padding: 0;

  flex-shrink: 0;

  &:not([disabled]):active {
    @include br-elevation(12);
  }

  .br-button-wrapper {
    padding: $padding 0;
    display: inline-block;
    line-height: $br-icon-button-line-height;
  }
}

.br-button {
  box-sizing: border-box;
  position: relative;

  // browser defaults.
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;

  // Make anchors render like buttons.
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;

  // font.
  font-size: $br-button-font-size;
  font-weight: 500;
  color: currentColor;
  text-align: center;

  // Sizing.
  margin: $br-button-margin;
  min-width: $br-button-min-width;
  line-height: $br-button-line-height;
  padding: $br-button-padding;
  border-radius: $br-button-border-radius;

  .br-button-focus-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: $br-button-focus-transition;
    opacity: 0;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;

    .br-button-focus-overlay {
      opacity: 1;
    }
  }

  &[disabled] {
  	cursor: not-allowed;
  }

  .br-button-ripple,
  .br-button-focus-overlay {
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    // Disable pointer events for the ripple container and focus overlay because the container
    // will overlay the user content and we don't want to disable mouse events on the user content.
    // Pointer events can be safely disabled because the ripple trigger element is the host element.
    pointer-events: none;
  }
}

.br-raised-button {
  @include br-elevation(2);

  // Force hardware acceleration.
  transform: translate3d(0, 0, 0);

  // Anibrion.
  transition: background $swift-ease-out-duration $swift-ease-out-timing-function,
              br-elevation-transition-property-value();

  &:not([disabled]):active {
    @include br-elevation(8);
  }

  &[disabled] {
    box-shadow: none;
  }
}

.br-fab {
  @include br-fab($br-fab-size, $br-fab-padding);
}

.br-mini-fab {
  @include br-fab($br-mini-fab-size, $br-mini-fab-padding);
}
