@import '../../style/typography/typography';
@import '../../style/elevation';

$br-button-font-size: calc(1.4em * $br-font-size);
$br-button-padding: 0 16px;
$br-button-min-width: 88px;
$br-button-margin: 0;
$br-button-line-height: 36px;
$br-button-border-radius: 2px;
$br-button-focus-transition: opacity 200ms $swift-ease-in-out-timing-function;

.br-button {
  box-sizing: border-box;
  position: relative;

  // browser defaults.
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;

  // Make anchors render like buttons.
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;

  // font.
  font-size: $br-button-font-size;
  font-weight: 500;
  color: currentColor;
  text-align: center;

  // Sizing.
  margin: $br-button-margin;
  min-width: $br-button-min-width;
  line-height: $br-button-line-height;
  padding: $br-button-padding;
  border-radius: $br-button-border-radius;

  .br-button-focus-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: $br-button-focus-transition;
    opacity: 0;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    .br-button-focus-overlay {
      opacity: 1;
    }
  }

  &[disabled] {
  	cursor: not-allowed;
  }
}

.br-button-raised {
  @include br-elevation(2);

  // Force hardware acceleration.
  transform: translate3d(0, 0, 0);

  // Animation.
  transition: background $swift-ease-out-duration $swift-ease-out-timing-function,
              br-elevation-transition-property-value();

  &:not([disabled]):active {
    @include br-elevation(8);
  }

  &[disabled] {
    box-shadow: none;
  }
}
