.start-stretch // defaults
{
  justify-content : flex-start;
  align-content : stretch;
  align-items: stretch;
}

// Main Axis Center
.start,
.start-start,
.start-center,
.start-end,
.start-stretch
{
  justify-content: flex-start;
}

// Main Axis Center
.center,           //stretch
.center-start,
.center-center,
.center-end,
.center-stretch
{
  justify-content: center;
}

// Main Axis End
.end, //stretch
.end-start,
.end-center,
.end-end,
.end-stretch
{
  justify-content: flex-end;
}

// Main Axis Space Around
.space-around, //stretch
.space-around-center,
.space-around-start,
.space-around-end,
.space-around-stretch
{
  justify-content: space-around;
}

// Main Axis Space Between
.space-between, //stretch
.space-between-center,
.space-between-start,
.space-between-end,
.space-between-stretch
{
  justify-content: space-between;
}


// Arrange on the Cross Axis
// center, start, end
// stretch is the default for align-items
// ------------------------------

// Cross Axis Start
.start-start,
.center-start,
.end-start,
.space-between-start,
.space-around-start
{
  align-items: flex-start;
  align-content: flex-start;
}

// Cross Axis Center
.start-center,
.center-center,
.end-center,
.space-between-center,
.space-around-center
{
  align-items: center;
  align-content: center;
  max-width: 100%;
}

// Cross Axis End
.start-end,
.center-end,
.end-end,
.space-between-end,
.space-around-end
{
  align-items: flex-end;
  align-content: flex-end;
}

// Cross Axis Start
.start-stretch,
.center-stretch,
.end-stretch,
.space-between-stretch,
.space-around-stretch
{
  align-items: stretch;
  align-content: stretch;
}

.layout {
  &-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  &-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}

.flex {
  flex: 1
}
