@import '../../../node_modules/@battr/battr-core/src/style/variables';

.br-expander {
  display: block;
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &[disabled] {
  	cursor: not-allowed;
  }


  .br-expander-header {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;

    // Flex
    display: flex;
    align-items: center;

    // Size
    // min-height: 48px;
    // line-height: 48px;
    padding: 0 24px;

    .br-title {
      // font
      font-size: rem(1.6);
      font-family: $br-global-font-family;
      font-weight: 500;
      color: currentColor;

      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }

    .br-expander-arrow {
      transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transform: rotate(90deg);
    }
  }

  &.br-open .br-expander-header .br-expander-arrow {
    transform: rotate(-90deg);
  }

  .br-expander-expanded {
    display: none;
    height: 0;
    overflow: hidden;

    &.br-show {
      display: block;
    }

    .br-content {
      display: block;
      padding: 16px 24px;
    }
  }
}
